@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non justo consectetur, malesuada sem et, aliquet dolor. Morbi eu dolor sit amet neque aliquam faucibus ut id odio. Vestibulum eget libero eu est pharetra rhoncus mattis at ligula. Donec ut sapien leo. Proin fermentum purus ut posuere volutpat. Morbi ultrices nulla nec urna egestas, ac porttitor ex mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eu orci eget ligula sagittis ultrices. Curabitur interdum hendrerit dolor. Duis eget urna lobortis, aliquet orci eget, malesuada nisl. Phasellus a facilisis dolor.
</p>
<p>
    Donec dapibus, eros viverra pretium molestie, magna sapien tristique augue, ut eleifend tortor turpis quis lacus. Sed neque lectus, feugiat ut diam eu, mattis dictum eros. Donec eu egestas tellus. Etiam mauris augue, feugiat et nisl vel, blandit feugiat diam. Nunc nec sem non nibh fringilla dictum. Sed fringilla porttitor arcu, sed tristique tellus iaculis a. Mauris sed accumsan nibh, ut luctus lectus. Fusce iaculis justo et commodo pulvinar. Vivamus faucibus justo a nunc consequat, non tincidunt turpis fringilla. Morbi iaculis, augue sit amet cursus faucibus, neque leo luctus dui, a aliquet purus nunc eget nisl. Fusce nisl lectus, maximus ornare dapibus vel, convallis sed dui. Cras eleifend cursus commodo. Aliquam orci nunc, pretium ut ullamcorper at, malesuada sed enim.
</p>
