@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2500 Walton Way<br />
    Augusta, GA 30904<br />
    <abbr title="Phone">P:</abbr>
    706.737.1632
</address>


<img src="~/Content/images/mdowell.jpg"/>
<address>
    <strong>Dr. Dowell:</strong>   <a href="mailto:mdowell@augusta.edu">mdowell@augusta.edu</a><br />
</address>