@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    /*var clients = [
        { "Name": "Otto Clay", "Age": 25, "Country": 1, "Address": "Ap #897-1459 Quam Avenue", "Married": false },
        { "Name": "Connor Johnston", "Age": 45, "Country": 2, "Address": "Ap #370-4647 Dis Av.", "Married": true },
        { "Name": "Lacey Hess", "Age": 29, "Country": 3, "Address": "Ap #365-8835 Integer St.", "Married": false },
        { "Name": "Timothy Henson", "Age": 56, "Country": 1, "Address": "911-5143 Luctus Ave", "Married": true },
        { "Name": "Ramona Benton", "Age": 32, "Country": 3, "Address": "Ap #614-689 Vehicula Street", "Married": false }
    ];*/

    var classes = [
        { "CourseID": "CSCI1301", "CourseName": "CSCI1301", "Semester": "FA 16", "CreditHours": "4" },
        { "CourseID": "CSCI1302", "CourseName": "CSCI1302", "Semester": "FA 17", "CreditHours": "3" },
        { "CourseID": "ENGL1101", "CourseName": "ENGL1101", "Semester": "FA 16", "CreditHours": "3" },
        { "CourseID": "ENGL1102", "CourseName": "ENGL1102", "Semester": "FA 17", "CreditHours": "3" },
        { "CourseID": "PHYS1111", "CourseName": "PHYS1111", "Semester": "FA 16", "CreditHours": "4" },
        { "CourseID": "PHYS1112", "CourseName": "PHYS1112", "Semester": "FA 17", "CreditHours": "4" },
        { "CourseID": "MATH2011", "CourseName": "MATH2011", "Semester": "FA 16", "CreditHours": "3" },
        { "CourseID": "MATH2012", "CourseName": "MATH2012", "Semester": "FA 17", "CreditHours": "3" }
    ];
    
    var vals;

    var creditHours = [
        { Name: "1", Id: "1" },
        { Name: "2", Id: "2" },
        { Name: "3", Id: "3" },
        { Name: "4", Id: "4" }
    ];

    var courseName = [
        { Name: "Principles of Comp Program I", Id: "CSCI1301" },
        { Name: "Principles of Comp Program II", Id: "CSCI1302" },
        { Name: "College Composition I", Id: "ENGL1101" },
        { Name: "College Composition II", Id: "ENGL1102" },
        { Name: "Introductory Physics I", Id: "PHYS1111" },
        { Name: "Introductory Physics II", Id: "PHYS1112" },
        { Name: "Calculus & Analy. Geometry I", Id: "MATH2011" },
        { Name: "Calculus & Analy. Geometry II", Id: "MATH2012" }
    ];

    var semester = [
        { Name: "SP", Id: 0 },
        { Name: "SU", Id: 1 },
        { Name: "FA", Id: 2 },
        { Name: "SP FA", Id: 3 }
    ];
    $(document).ready(function () {
        function callDB() {
            $.ajax({
                type: 'POST',
                url: '/Shared/getCourses',
                contentType: 'application/json',
                /*data: query,*/
                async: false
            })
            .done(function (values) {
                //console.log(values);
                vals = JSON.parse(values);
            })
            .fail(function () { })
        }
        callDB();
        console.log(vals);
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            inserting: true,
            editing: true,
            sorting: true,
            paging: true,

            data: classes,

            fields: [
                { name: "CourseID", type: "select", items: courseName, valueField: "Id", textField: "Id", validate: "required" },
                { name: "CourseName", type: "select", items: courseName, valueField: "Id", textField: "Name", validate: "required" },
                { name: "Semester", type: "text", validate: "required" },
                { name: "CreditHours", type: "select", items: creditHours, valueField: "Id", textField: "Name", validate: "required" },
                { type: "control"}
                /*
                { name: "Name", type: "text", width: 150, validate: "required" },
                { name: "Age", type: "number", width: 50 },
                { name: "Address", type: "text", width: 200 },
                { name: "Country", type: "select", items: countries, valueField: "Id", textField: "Name" },
                { name: "Married", type: "checkbox", title: "Is Married", sorting: false },
                { type: "control" }*/
            ]
        });
    });
</script>

<!--<style>
#classes {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#classes td, #classes th {
    border: 1px solid #ddd;
    padding: 8px;
}

#classes tr:nth-child(even){background-color: #f2f2f2;}

#classes tr:hover {background-color: #ddd;}

#classes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>-->

<div class="jumbotron">
    <h2>@User.Identity.Name 's Profile</h2>
</div>

<div id="jsGrid"></div>
<div>
    <a href="http://www.augusta.edu/hull/documents/academic_plan_cs.pdf" class="btn btn-primary btn-sm" target="_blank">Generate Schedule&raquo;</a>
    <select>
        <option value="C1415">Catalog 2014-2015</option>
        <option value="C1516">Catalog 2015-2016</option>
        <option value="C1617">Catalog 2016-2017</option>
        <option value="C1718">Catalog 2017-2018</option>
    </select>
</div>
<!--<div>
    <p><a href="" class="btn btn-primary btn-sm">Edit Classes&raquo;</a></p>
    <table id="classes">
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Semester/Year</th>
            <th>Comment</th>
        </tr>
        <tr>
            <td>CSCI 1301</td>
            <td>Principles of Comp Program I</td>
            <td>FA 16</td>
            <td></td>
        </tr>
        <tr>
            <td>ENGL 1101</td>
            <td>College Composition I</td>
            <td>FA 16</td>
            <td></td>
        </tr>
        <tr>
            <td>MATH 1113</td>
            <td>Precalculus Mathematics</td>
            <td>FA 16</td>
            <td></td>
        </tr>
        <tr>
            <td>PHYS 1111</td>
            <td>Introductory Physics I</td>
            <td>FA 16</td>
            <td></td>
        </tr>
        <tr>
            <td>CSCI 1302</td>
            <td>Principles of Comp Program II</td>
            <td>SP 17</td>
            <td></td>
        </tr>
        <tr>
            <td>ENGL 1102</td>
            <td>College Composition II</td>
            <td>SP 17</td>
            <td></td>
        </tr>
        <tr>
            <td>MATH 2011</td>
            <td>Calculus & Analy. Geometry I</td>
            <td>SP 17</td>
            <td></td>
        </tr>
        <tr>
            <td>PHYS 1112</td>
            <td>Introductory Physics II</td>
            <td>SP 17</td>
            <td></td>
        </tr>
    </table>
    <br />
    <p>
        <a href="http://www.augusta.edu/hull/documents/academic_plan_cs.pdf" class="btn btn-primary btn-sm" target="_blank">Generate Schedule&raquo;</a>
        <select>
            <option value="C1415">Catalog 2014-2015</option>
            <option value="C1516">Catalog 2015-2016</option>
            <option value="C1617">Catalog 2016-2017</option>
            <option value="C1718">Catalog 2017-2018</option>
        </select>
    </p>

</div>-->