@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    bool canSearch = User.IsInRole("Admin");
}
<script>
    var userProfile;
    var courses;

    function generateSchedule() {
        //console.log($("#electiveHours").val());
        var catalogVal = {
            Year: $("#catalogs").val(),
            ElectiveHours: $("#electiveHours").val()
            }
        $.ajax({
            type: 'GET',
            url: '/Shared/generateSchedule',
            contentType: 'application/json',
            data: catalogVal,
            async: false
        })
           .done(function (schedule) {
               //console.log(schedule);
               schedule = JSON.parse(schedule);
               //console.log(schedule);
               var d = new Date();
               var monthNum = d.getMonth() + 1;
               var yearNum = d.getFullYear();
               //console.log(monthNum);

               var semester = "";
               if (monthNum < 8){
                   semester = "Fall" 
               }
               else {
                   semester = "Spring";
                   yearNum += 1;
               }

               $("#schedule").append("</br></br><h2>Schedule</h2>");
               $("#schedule").append("<i><h4 style=\"color:red;\">Based on the " + $("#catalogs").val() + " Catalog</h4></i>");
               $("#schedule").append("<table>");
               for (var i = 0; i < schedule.length; i++) {
                   var tableString = "<tr><th>" + semester + " " + yearNum + "</th>";
                   for (var j = 0; j < schedule[i].length; j++) {
                       tableString += "<td width=\"(100/" + schedule[i].length + ")%\">" + schedule[i][j] + "</td>";
                   }
                   tableString += "</tr>"
                   $("#schedule").append(tableString);

                   if (semester == "Spring") {
                       semester = "Fall"
                   }
                   else {
                       semester = "Spring";
                       yearNum += 1;
                   }
               }
               $("#schedule").append("</table>");

               //$("#schedule").append("</br></br><h2>Schedule</h2>");
               //$("#schedule").append("<table>");
               //$("#schedule").append("<tr><th>Course ID</th><th>Prereq</th><th>Prereq Met</th></tr>");
               //for (var i = 0; i < schedule.length; i++) {
               //    $("#schedule").append("<tr><td>" + schedule[i].CourseID + "</td><td>" + schedule[i].Prereq + "</td><td>" + schedule[i].PrereqMet +"</td></tr>");
               //}
               //$("#schedule").append("</table>");
           })
           .fail(function () {})
    }

    function addCourse() {
        var tempCourse = courses[$("#courses").val()];
        console.log(tempCourse);
        $.ajax({
            type: 'GET',
            url: '/Shared/addCourse',
            contentType: 'application/json',
            data: tempCourse,
            async: false
        })
           .done(function () {
               location.reload();
           })
           .fail(function () {})
    }

    function getProfile(name) {
        console.log(name);
        var user = { userName: name };

        $.ajax({
            type: 'GET',
            url: '/Shared/getProfile',
            contentType: 'application/json',
            data: user,
            async: false
        })
        .done(function (profileData) {
            //console.log(values);
            userProfile = JSON.parse(profileData);
        })
        .fail(function () { })
    }

    function getCatalogYears() {
        $.ajax({
            type: 'POST',
            url: '/Shared/getCatalogYears',
            contentType: 'application/json',
            /*data: query,*/
            async: false
        })
        .done(function (years) {
            //console.log(values);
            years = JSON.parse(years);
            for (var i = 0; i < years.length; i++) {
                var temp = years[i].Year;
                var str1 = temp.substring(0, 4);
                var str2 = temp.substring(4);

                $('#catalogs').append('<option value=\'' + years[i].Year + '\'>Catalog ' + str1 + '-' + str2 +'</option>');
            }
        })
        .fail(function () { })
    }

    function getCourses() {
        $.ajax({
            type: 'POST',
            url: '/Shared/getCourses',
            contentType: 'application/json',
            /*data: query,*/
            async: false
        })
        .done(function (courseData) {
            //console.log(values);
            courses = JSON.parse(courseData);
        })
        .fail(function () { })
    }

    $(document).ready(function () {
        if ("@canSearch" == "False"){
            getProfile("");
        }

        getCourses();
        getCatalogYears();
        //console.log(userProfile);
        //console.log(courses);
        for (var i = 0; i < courses.length; i++) {
            $('#courses').append('<option value=' + i + '>' + courses[i].CourseID + ' ' + courses[i].CourseName + '</option>');
        }
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            controller: {
                loadData: $.noop,
                insertItem: $.noop,
                updateItem: $.noop,
                deleteItem: $.noop
            },

            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            confirmDeleting: true,
            deleteConfirm: "Are you sure?",

            deleteItem: function (item) {
                if (window.confirm("Are you sure?")) {
                    $.ajax({
                        type: "DELETE",
                        url: '/Shared/deleteCourseFromProfile',
                        data: item
                    });
                    location.reload();
                }
            },

            data: userProfile,

            fields: [
                { name: "CourseID"},/*, type: "text", validate: "required" },*/
                { name: "CourseName"},/*, type: "text", validate: "required" },*/
                { name: "CreditHours"},
                /*{ name: "Comment"},*/
                { type: "control", editButton: false}
            ]
        });
    });
</script>

<style>
#schedule {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#schedule td, #classes th {
    border: 1px solid #ddd;
    padding: 8px;
}

#schedule tr:nth-child(even){background-color: #f2f2f2;}

#schedule tr:hover {background-color: #ddd;}

#schedule th {
    padding: 12px 12px 12px 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>

<div class="jumbotron">
@if (@User.IsInRole("Admin") == false)
{
    <h2>@User.Identity.Name 's Profile</h2>
}
</div>


<div>
    <select id="courses"></select>
    <button class="btn btn-primary btn-sm" style="font-size: 12pt;" onclick="addCourse()">Add Course +</button>
    <br /><br />
    <form>
        Number of Elective Hours Taken: 
        <input type="number" id="electiveHours" min="0" max="30" />
    </form>
    <br /><br />
</div>

<div id="jsGrid"></div>
<div>
    <select id="catalogs">
        @*<option value="20142015">Catalog 2014-2015</option>
        <option value="20152016">Catalog 2015-2016</option>
        <option value="20162017">Catalog 2016-2017</option>
        <option value="20172018">Catalog 2017-2018</option>*@
    </select>
    <!--<a href="http://www.augusta.edu/hull/documents/academic_plan_cs.pdf" class="btn btn-success btn-sm" target="_blank" style="font-size: 15pt;">Generate Schedule&raquo;</a>-->
    <button class="btn btn-primary btn-sm" style="font-size: 12pt;"onclick="generateSchedule()">Generate Schedule&raquo;</button>
</div>

<div id="schedule"></div>