@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>Your Profile</h1>
</div>

<div>
    <p><a href="" class="btn btn-primary btn-lg">Edit Classes&raquo;</a></p>
    <table style="width:80%">
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Semester/Year</th>
        </tr>
        <tr>
            <td>CSCI 1301</td>
            <td>Principles of Comp Program I</td>
            <td>FA 16</td>
        </tr>
        <tr>
            <td>ENGL 1101</td>
            <td>College Composition I</td>
            <td>FA 16</td>
        </tr>
        <tr>
            <td>MATH 1113</td>
            <td>Precalculus Mathematics</td>
            <td>FA 16</td>
        </tr>
        <tr>
            <td>PHYS 1111</td>
            <td>Introductory Physics I</td>
            <td>FA 16</td>
        </tr>
        <tr>
            <td>CSCI 1302</td>
            <td>Principles of Comp Program II</td>
            <td>SP 17</td>
        </tr>
        <tr>
            <td>ENGL 1102</td>
            <td>College Composition II</td>
            <td>SP 17</td>
        </tr>
        <tr>
            <td>MATH 2011</td>
            <td>Calculus & Analy. Geometry I</td>
            <td>SP 17</td>
        </tr>
        <tr>
            <td>PHYS 1112</td>
            <td>Introductory Physics II</td>
            <td>SP 17</td>
        </tr>
    </table>
    <br /><br /><br />
    <p><a href="http://www.augusta.edu/hull/documents/academic_plan_cs.pdf" class="btn btn-primary btn-lg" target="_blank">Generate Schedule&raquo;</a></p>
</div>