@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    bool canSearch = User.IsInRole("Admin");
}
<script>
    var courses;
    var courseSelection;

    function getCourses() {
        $.ajax({
            type: 'POST',
            url: '/Shared/getCourses',
            contentType: 'application/json',
            /*data: query,*/
            async: false
        })
        .done(function (courseData) {
            //console.log(values);
            courseSelection = JSON.parse(courseData);
            for (var i = 0; i < courseSelection.length; i++) {
                $('#courseSelect1').append('<option value=' + i + '>' + courseSelection[i].CourseID + ' ' + courseSelection[i].CourseName + '</option>');
            }
        })
        .fail(function () { })
    }

    $(document).ready(function () {
        var courseFields;
        if ("@canSearch" == "False") {
            courseFields = [
                { name: "CourseID", type: "text" },
                { name: "CourseName", type: "text" },
                { name: "SemesterOffered", type: "text" },
                { name: "CreditHours", type: "text" },
                //{ name: "Prereq", type: "text"}
            ];
        }
        else if ("@canSearch" == "True") {
            courseFields = [
                { name: "CourseID", type: "text" },
                { name: "CourseName", type: "text" },
                { name: "SemesterOffered", type: "text" },
                { name: "CreditHours", type: "text" },
                //{ name: "Prereq", type: "text"},
                { type: "control", editButton: false }
            ];
        }
        function callDB() {
            $.ajax({
                type: 'POST',
                url: '/Shared/getCourses',
                contentType: 'application/json',
                /*data: query,*/
                async: false
            })
            .done(function (values) {
                //console.log(values);
                courses = JSON.parse(values);
            })
            .fail(function () { })
        }
        callDB();
        getCourses();
        //console.log(courses);
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "500px",

            controller: {
                loadData: $.noop,
                insertItem: $.noop,
                updateItem: $.noop,
                deleteItem: $.noop
            },

            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            confirmDeleting: true,
            deleteConfirm: "Are you sure?",

            deleteItem: function (item) {
                if (window.confirm("Are you sure?")) {
                    $.ajax({
                        type: "DELETE",
                        url: '/Shared/deleteCourse',
                        data: item
                    });
                    location.reload();
                }
            },

            data: courses,

            fields: courseFields
        });
    });
</script>

<div class="jumbotron">
    <h2>Course Offerings</h2>
</div>
@if (@User.IsInRole("Admin"))
{
    <hr />
    <form id="courseForm" onsubmit="addNewCourse()">
        Course ID:
        <input type="text" id="courseID" pattern="[A-Z][A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9]" title="XXXX####" required />

        Course Name:
        <input type="text" id="courseName" pattern=".{6,}" title="Must have more than 6 characters" required />

        <br /><br />

        Semester Offered:
        <select id="semesterOffered" required>
            <option value="SP">SP</option>
            <option value="FA">FA</option>
            <option value="SP FA">SP FA</option>
            <option value="SP SU FA">SP SU FA</option>
        </select>

        Credit Hours:
        <select id="creditHours" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <br /><br />

        <script>
            var courseSelectNum = 1;
            var lineNum = 1;
            var Booleans = '<select><option value="&">AND</option><option value="|">OR</option></select>';
            function addPreq() {
                courseSelectNum += 1;
                var courseSel = '<select id="courseSelect' + courseSelectNum + '"></select>';
                $('#line' + lineNum).append(Booleans);
                $('#line' + lineNum).append(courseSel);
                for (var i = 0; i < courseSelection.length; i++) {
                    $('#courseSelect' + courseSelectNum).append('<option value=' + i + '>' + courseSelection[i].CourseID + ' ' + courseSelection[i].CourseName + '</option>');
                }
            }
            $(function () { 
                $("#courseForm").submit(function (e) {
                    e.preventDefault();
                });

                $('#hasPrereq').change(function () {
                    //console.log("HERE");
                    if (this.checked != true) {
                        prereqString = "";
                    }
                });
            });
            function addNewCourse() {
                if ($('#hasPrereq').is(':checked')) {
                    buildPrereqString();
                }

                var newCourse = {
                    CourseID: $('#courseID').val(),
                    CourseName: $('#courseName').val(),
                    SemesterOffered: $('#semesterOffered').val(),
                    CreditHours: $('#creditHours').val(),
                    Prereq: prereqString
                }

                if (confirm("Is this correct?\n" + "Course ID: " + newCourse.CourseID + "\nCourseName: " + newCourse.CourseName + "\nSemester Offered: " + newCourse.SemesterOffered + "\nCredit Hours: " + newCourse.CreditHours + "\nPrereq: " + newCourse.Prereq + "\n Please note that if you use ELEC#### as your course ID then it will note show up as an available course for the catalog or in the course listing.")) {
                    $.ajax({
                        type: 'GET',
                        url: '/Shared/addNewCourse',
                        contentType: 'application/json',
                        data: newCourse,
                        async: false
                    })
               .done(function () {
                   location.reload();
               })
               .fail(function () { })
                } else {

                }
            }

            function newLinePreq() {
                lineNum += 1;
                courseSelectNum += 1;
                $('#prereq').append('<br>');
                $('#prereq').append(Booleans);
                $('#prereq').append('<div id="line' + lineNum + '"></div>');

                var courseSel = '<select id="courseSelect' + courseSelectNum + '"></select>';
                $('#line' + lineNum).append('<br>');
                $('#line' + lineNum).append(courseSel);
                for (var i = 0; i < courseSelection.length; i++) {
                    $('#courseSelect' + courseSelectNum).append('<option value=' + i + '>' + courseSelection[i].CourseID + ' ' + courseSelection[i].CourseName + '</option>');
                }

                $('#line' + lineNum).append('<button class="btn btn-sm btn-primary" id="butt' + lineNum + '" onclick="addPreq()" type="button">Add Prereq +</button>');

                for (var i = 0; i < lineNum; i++) {
                    //$('#butt' + i).prop('disabled', true);
                    $('#butt' + i).remove();
                }
            }

            var prereqString = "";
            function buildPrereqString() {
                var openParan = "(";
                prereqString = "";
                //console.log($('#prereq').children());

                var prereqDiv = $('#prereq').children();

                for (var i = 0; i < prereqDiv.length; i++) {

                    //console.log(prereqDiv.eq(i).get(0).localName);
                    //console.log(temp);

                    var temp;
                    if (prereqDiv.eq(i).get(0).localName == "select") {
                        temp = $(prereqDiv[i]);
                        //console.log(temp);
                    } else {
                        temp = $(prereqDiv[i]).children();
                    }
                    var aStr = "";

                    for (var j = 0; j < temp.length; j++) {
                        //console.log($(temp.eq(j)));
                        //console.log($(temp.eq(j).get(0)).val());
                        var tempStr;
                        if (temp.length == 1) {
                            //console.log($(temp).val());
                            tempStr = $(temp).val();
                        } else {
                            tempStr = $(temp.eq(j).get(0)).val();
                        }
                        if (!isNaN(tempStr) && tempStr != 'undefined' && tempStr != "") {
                            //console.log(tempStr);
                            //console.log(courseSelection[tempStr].CourseID);
                            aStr += courseSelection[tempStr].CourseID;
                        } else if (tempStr != 'undefined' && tempStr != "") {
                            //console.log(tempStr);
                            aStr += tempStr;
                        }
                        //console.log(temp[j]);
                    }

                    if (aStr != "" && aStr.length > 1) {
                        openParan += aStr + ")";
                        prereqString += openParan;
                        openParan = "(";
                    } else if (aStr.length == 1) {
                        prereqString += aStr;
                    }
                }
                console.log(prereqString);
            }
        </script>
        Has Prerequisite:
        <input id="hasPrereq" type="checkbox" />
        <br />

        Prerequisites:
        <div id="prereq">
            <div id="line1">
                <select id="courseSelect1"></select>
                <button class="btn btn-sm btn-primary" id="butt1" onclick="addPreq()" type="button">Add Prereq +</button>
            </div>
        </div>
        <button class="btn btn-sm btn-primary" onclick="newLinePreq()" type="button">Add New Line for Prereq</button>
        <br /><br />
        <input class="btn btn-primary btn-sm" type="submit" value="Add Course +" />

        <br /><br /><span style="font-weight:bold; font-style:italic; color:red;">Please note that if you use ELEC#### as your course ID then it will note show up as an available course for the catalog or in the course listing.</span><br />

        @*<button class="btn btn-primary btn-sm" onclick="buildPrereqString()">Blah</button>*@
    </form>
    <hr />
}
<div id="jsGrid"></div>
<br /><br />
<a href="http://www.augusta.edu/hull/documents/rotations_cis.pdf" class="btn btn-primary btn-sm" target="_blank">View Course Rotation&raquo;</a>

