@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
@*<img src="~/Content/images/UnderConstruct.jpg"/>*@
<script>
    var parsedCatalog;
    function getCatalogYears() {
        $.ajax({
            type: 'POST',
            url: '/Shared/getCatalogYears',
            contentType: 'application/json',
            /*data: query,*/
            async: false
        })
        .done(function (years) {
            //console.log(values);
            years = JSON.parse(years);
            for (var i = 0; i < years.length; i++) {
                var temp = years[i].Year;
                var str1 = temp.substring(0, 4);
                var str2 = temp.substring(4);

                $('#catalogList').append('<option value=\'' + years[i].Year + '\'>Catalog ' + str1 + '-' + str2 + '</option>');
                $('#addCourseToCatalog').append('<option value=\'' + years[i].Year + '\'>Catalog ' + str1 + '-' + str2 + '</option>');
                $('#copyCatalogList').append('<option value=\'' + years[i].Year + '\'>Catalog ' + str1 + '-' + str2 + '</option>');
            }
        })
        .fail(function () { })
    }
    function getHours() {
        var catalogVal = {
            Year: $("#catalogs").val(),
        }
        $.ajax({
            type: 'GET',
            url: '/Shared/getGeneralElectiveHours',
            contentType: 'application/json',
            data: catalogVal,
            async: false
        })
        .done(function (hours) {
            //console.log(values);
            hours = JSON.parse(hours);
            $('#genElec').empty();
            //$('#genElec').append('<h4>General Elective Hours</h4>');
            $('#genElec').append(hours);
        })
        .fail(function () { })
    }

    function getCatalog() {
        var catalogVal = {
            Year: $("#catalogList").val(),
        }
        $.ajax({
            type: 'GET',
            url: '/Shared/getCatalog',
            contentType: 'application/json',
            data: catalogVal,
            async: false
        })
        .done(function (catalogData) {
            parsedCatalog = JSON.parse(catalogData);
            //console.log(parsedCatalog);
            var areas = ["areaA", "areaBC", "areaD", "areaE", "areaF", "areaCC", "areaME", "areaW"];
            var dbAreas = ["A", "B/C", "D", "E", "F", "CC", "ME", "W"];

            for (var i = 0; i < areas.length; i++) {
                var test = [];
                for (var j = parsedCatalog.length - 1; j >= 0; j--) {
                    if (parsedCatalog[j].Area == dbAreas[i]) {
                        test.push(parsedCatalog[j]);
                        parsedCatalog.splice(j, 1);
                    }
                }
                $("#" + areas[i]).jsGrid({
                    width: "100%",
                    height: "400px",
                    controller: {
                        loadData: $.noop,
                        insertItem: $.noop,
                        updateItem: $.noop,
                        deleteItem: $.noop
                    },
                    inserting: false,
                    editing: false,
                    sorting: true,
                    paging: true,
                    confirmDeleting: true,
                    deleteConfirm: "Are you sure?",
                    deleteItem: function (item) {
                        var temp = $("#catalogList").val();
                        var courseDel = {
                            CatalogYear: temp,
                            CourseID: item.CourseID
                        };
                        console.log(item);
                        console.log(courseDel);
                        if (window.confirm("Are you sure?")) {
                            $.ajax({
                                type: "POST",
                                url: '/Shared/deleteCourseFromCatalog',
                                data: courseDel
                            });
                            location.reload();
                        }
                    },
                    data: test,
                    fields: [
                        { name: "CourseID" },/*, type: "text", validate: "required" },*/
                        { name: "CourseName" },/*, type: "text", validate: "required" },*/
                        { name: "CreditHours" },
                        { name: "Area" },
                        { type: "control", editButton: false }
                    ]
                });
            }
            getHours();
        })
        .fail(function () { })
    }
    var courses;
    function getCourses() {
        $.ajax({
            type: 'POST',
            url: '/Shared/getCourses',
            contentType: 'application/json',
            /*data: query,*/
            async: false
        })
        .done(function (courseData) {
            //console.log(values);
            courses = JSON.parse(courseData);
        })
        .fail(function () { })
    }
    function getAreas() {
        $.ajax({
            type: 'GET',
            url: '/Shared/getAreas',
            contentType: 'application/json',
            /*data: query,*/
            async: false
        })
        .done(function (areas) {
            //console.log(values);
            areas = JSON.parse(areas);
            //console.log(areas);
            for (var i = 0; i < areas.length; i++) {
                $('#areas').append('<option value=' + areas[i] + '>' + areas[i] + '</option>');
            }
        })
        .fail(function () { })
    }
    function addCourseToCatalog() {
        var tempCourse = courses[$("#courses").val()];
        var catalogCourse = {
            CatalogYear: $('#addCourseToCatalog').val(),
            CourseID: tempCourse.CourseID,
            Area: $('#areas').val()
        };
        $.ajax({
            type: 'GET',
            url: '/Shared/addCourseToCatalog',
            contentType: 'application/json',
            data: catalogCourse,
            async: false
        })
           .done(function () {
               location.reload();
           })
           .fail(function () { })
    }

    function addNewCatalog() {
        //console.log($('#copyCatalog').is(':checked'));
        var yr = $('#year1').val();
        var yr2 = $('#year1').val();
        yr2++;
        var newCatalog = {
            CatalogYearCopy: $('#copyCatalogList').val(),
            CopyCatalog: $('#copyCatalog').is(':checked'),
            Year: yr + yr2
        };

        $.ajax({
            type: 'GET',
            url: '/Shared/addNewCatalog',
            contentType: 'application/json',
            data: newCatalog,
            async: false
        })
           .done(function () {
               location.reload();
           })
           .fail(function () { })
    }

    $(document).ready(function () {
        getCourses();
        getCatalogYears();
        getAreas();
        for (var i = 0; i < courses.length; i++) {
            $('#courses').append('<option value=' + i + '>' + courses[i].CourseID + ' ' + courses[i].CourseName + '</option>');
        }
    });
</script>

@*<style>
    #catalog {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
    }

        #catalog td, #catalog th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #catalog tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #catalog tr:hover {
            background-color: #ddd;
        }

        #catalog th {
            padding: 12px 12px 12px 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>*@

<div>
    <select id="catalogList"></select>
    <!--<a href="http://www.augusta.edu/hull/documents/academic_plan_cs.pdf" class="btn btn-success btn-sm" target="_blank" style="font-size: 15pt;">Generate Schedule&raquo;</a>-->
    <button class="btn btn-primary btn-sm" style="font-size: 12pt;" onclick="getCatalog()">Look at Catalog&raquo;</button>
</div>

<div id="catalog">
@if (@User.IsInRole("Admin"))
{
    <form onsubmit="addNewCatalog()">
        <br /><hr />
        Catalog:
        <select id="copyCatalogList"></select>
        Copy:
        <input type="checkbox" id="copyCatalog"/>
        Catalog Year:
        <input type="number" id="year1" min="2014" max="2050" required>
        @*-
        <input type="number" id="year2" min="2014" max="2050" required>*@
        <input class="btn btn-primary btn-sm" type="submit" value="Add New Catalog +" />
        @*<button class="btn btn-primary btn-sm" style="font-size: 12pt;" onclick="addNewCatalog()">Add New Catalog +</button>*@
    </form>
    <br /><br />

    <form onsubmit="addCourseToCatalog()">
        Catalog:
        <select id="addCourseToCatalog"></select>
        Course:
        <select id="courses"></select>
        Area:
        <select id="areas"></select>
        <input class="btn btn-primary btn-sm" type="submit" value="Add Course +" />
        @*<button class="btn btn-primary btn-sm" style="font-size: 12pt;" onclick="addCourseToCatalog()">Add Course +</button>*@
        <br /><hr />
    </form>
}
    <h4>Area A</h4>
    <br />
    <div id="areaA"></div>
    <hr />

    <h4>Area B/C</h4>
    <br />
    <div id="areaBC"></div>
    <hr />

    <h4>Area D</h4>
    <br />
    <div id="areaD"></div>
    <hr />

    <h4>Area E</h4>
    <br />
    <div id="areaE"></div>
    <hr />

    <h4>Area F</h4>
    <br />
    <div id="areaF"></div>
    <hr />

    <h4>Area Common Core</h4>
    <br />
    <div id="areaCC"></div>
    <hr />

    <h4>Area Major Elective</h4>
    <br />
    <div id="areaME"></div>
    <hr />

    <h4>Area Wellness</h4>
    <br />
    <div id="areaW"></div>
    <hr />

    <h4>General Elective Hours</h4>
    <div id="genElec"></div>
</div>