@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<a href="http://www.augusta.edu/hull/documents/rotations_cis.pdf" class="btn btn-primary btn-sm" target="_blank">View Course Rotation&raquo;</a>

